html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.content-wrapper {
    flex: 1 0 auto;
}

footer {
    background-color: #b30000 !important;
    color: white !important;
    padding: 25px 0 !important;
    margin-top: auto !important;
    width: 100%;
}

.container.main-container {
    flex: 1;
}